<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>ㅊㅊㅈ</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A corporate Bootstrap theme by Medium Rare">
  <link href="assets/css/loaders/loader-typing.css" rel="stylesheet" type="text/css" media="all" />
  <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
</head>

<body data-smooth-scroll-offset="73">
  <div class="loader">
    <div class="loading-animation"></div>
  </div>
  <div class="navbar-container ">
    <nav class="navbar navbar-expand-lg navbar-dark" data-overlay data-sticky="top">
      <div class="container">
        <a class="navbar-brand fade-page" href="index.html">
          <img src="assets/img/logo-white.svg" alt="ㅊㅊㅈ">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
          <img class="icon navbar-toggler-open" src="assets/img/icons/interface/menu.svg" alt="menu interface icon" data-inject-svg />
          <img class="icon navbar-toggler-close" src="assets/img/icons/interface/cross.svg" alt="cross interface icon" data-inject-svg />
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <div class="py-2 py-lg-0">
            <ul class="navbar-nav">
              <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true">서비스 소개</a>
                <div class="dropdown-menu row">
                  <div class="col-auto" data-dropdown-content>
                    <div class="card card-sm card-body shadow-sm"><a href="home-course.html" class="dropdown-item fade-page">Course</a><a href="home-coworking.html" class="dropdown-item fade-page">Coworking<span
                          class="badge badge-primary ml-2">New</span></a><a href="home-cryptocurrency.html" class="dropdown-item fade-page">Cryptocurrency</a>
                      <a href="home-desktop-app.html" class="dropdown-item fade-page">Desktop App</a><a href="home-event.html" class="dropdown-item fade-page">Event</a><a href="home-mobile-app.html" class="dropdown-item fade-page">Mobile App</a><a
                        href="home-portfolio.html" class="dropdown-item fade-page">Portfolio</a>
                      <a href="home-saas.html" class="dropdown-item fade-page">SaaS</a><a href="home-saas-trend.html" class="dropdown-item fade-page">SaaS - Trend</a><a href="home-software-library.html" class="dropdown-item fade-page">Software
                        Library</a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div><a href="#" class="btn btn-white ml-lg-3">가입하기</a>

        </div>
      </div>
    </nav>
  </div>

  <section class="bg-primary jarallax text-light min-vh-100 o-hidden d-flex flex-column justify-content-center" data-overlay>
    <img src="assets/img/demo/mainbg.jpg" alt="Image" class="jarallax-img opacity-30">

    <div class="container">
      <div class="row justify-content-center text-center align-items-center">
        <div class="col-xl-8 col-lg-9 col-md-10 layer-3" data-aos="fade-up" data-aos-delay="500">
          <h1 class="display-2">
            행복한 순간을,
            <br>보다 많은 사람들과 함께.
          </h1>
          <a href="#demo" class="btn btn-lg btn-white" data-smooth-scroll>서비스 이용해보기</a>
        </div>
      </div>
    </div>
  </section>
  <section class="text-center" id="demo">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-9">
          <h2 class="h1">누구나 쉽게 만들 수 있는 ㅊㅊㅈ 입니다.</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href="home-coworking.html">
            <img src="assets/img/demo/img1.png" alt="Coworking" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <a href="home-coworking.html" class="fade-up">
                <h3 class="h2">다양한 디자인</h3>
              </a>
              <p class="lead">
                식상한 모바일 청첩장이 아닌 ㅊㅊㅈ가 선사하는 다양한 디자인의 모바일 청첩장을 경험해보세요
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-md-6">
          <a class="fade-page" href="home-coworking.html">
            <img src="assets/img/demo/img1.png" alt="Coworking" class="rounded shadow-3d hover-shadow-3d border mb-3 mb-md-0">
          </a>
        </div>
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-10">
              <a href="home-coworking.html" class="fade-up">
                <h3 class="h2">다양한 서비스</h3>
              </a>
              <p class="lead">
                ㅊㅊㅈ은 동영상, 네비게이션, 감사글 등 다양한 서비스를 제공합니다
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="bg-primary-alt">
    <div class="container">
      <div class="row justify-content-center text-center mb-5">
        <div class="col-xl-8 col-lg-9">
          <h2 class="h1">여러가지 스킨을 골라보세요</h2>
        </div>
      </div>
    </div>
    <div class="arrows-inside highlight-selected mb-6" data-flickity='{ "autoPlay": true, "imagesLoaded": true, "wrapAround": true }'>
      <div class="carousel-cell col-lg-3 col-md-5 col-9 px-4 py-3">
        <a href="about-company.html" target="_blank">
          <img src="assets/img/demo/skin_1.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-3 col-md-5 col-9 px-4 py-3">
        <a href="blog-article.html" target="_blank">
          <img src="assets/img/demo/skin_1.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-3 col-md-5 col-9 px-4 py-3">
        <a href="blog-magazine.html" target="_blank">
          <img src="assets/img/demo/skin_1.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-3 col-md-5 col-9 px-4 py-3">
        <a href="careers.html" target="_blank">
          <img src="assets/img/demo/skin_1.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
      <div class="carousel-cell col-lg-3 col-md-5 col-9 px-2 py-3">
        <a href="portfolio-case-study.html" target="_blank">
          <img src="assets/img/demo/skin_1.png" alt="" class="rounded shadow-3d hover-shadow-3d border">
        </a>
      </div>
  </section>

  <section>
    <div class="text-center container">
      <div class="row justify-content-center">
        <div class="col-xl-9">
          <h2 class="h1">누구나 무료로 사용할 수 있습니다.</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row align-items-center my-sm-5">
        <div class="col-md-4">
          <div class="card card-body align-items-center ">
            <div class="pt-md-2">
              <h4>베이직</h4>
            </div>
            <div class="d-flex align-items-start pb-md-2">
              <span class="display-4">무료</span>
            </div>
            <ul class="text-center list-unstyled my-2 my-md-4">
              <li class="py-1">
                <span>1개의 일반 스킨 제공</span>
              </li>
              <li class="py-1">
                <span>14일간 이용 가능</span>
              </li>
            </ul>
            <a href="#" class="btn btn-outline-primary">
              가입하기
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-body align-items-center shadow-3d">
            <div class="pt-md-2">
              <h4>프리미엄</h4>
            </div>
            <div class="d-flex align-items-start pb-md-2">
              <span class="display-4">49,000</span>
            </div>
            <ul class="text-center list-unstyled my-2 my-md-4">
              <li class="py-1">
                <span>5개의 프리미엄 스킨 제공</span>
              </li>
              <li class="py-1">
                <span>3개월간 사용 가능</span>
              </li>
            </ul>
            <a href="#" class="btn btn-primary">
              프리미엄 신청하기
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-body align-items-center ">
            <div class="pt-md-2">
              <h4>비즈니스</h4>
            </div>
            <div class="d-flex align-items-start pb-md-2">
              <span class="display-4">99,000</span>
            </div>
            <ul class="text-center list-unstyled my-2 my-md-4">
              <li class="py-1">
                <span>10개의 일반 스킨 제공</span>
              </li>
              <li class="py-1">
                <span>4개월간 이용 가능</span>
              </li>
            </ul>
            <a href="#" class="btn btn-outline-primary">
              비즈니스 신청하기
            </a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
  <footer class="pb-2" id="footer">
    <div class="row justify-content-center">

    </div>
    <div class="row justify-content-center">
      <div class="col col-md-auto text-center">
        <small class="text-muted">&copy;Copyright ㅊㅊㅈ. All rights reserved.
        </small>
      </div>
    </div>
    </div>
  </footer>
  <a href="#" class="btn back-to-top btn-primary btn-round" data-smooth-scroll data-aos="fade-up" data-aos-anchor="section:last-of-type" data-aos-mirror="true" data-aos-once="false">
    <img class="icon" src="assets/img/icons/theme/navigation/arrow-up.svg" alt="arrow-up icon" data-inject-svg />
  </a>
  <!-- Required vendor scripts (Do not remove) -->
  <script type="text/javascript" src="assets/js/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/popper.min.js"></script>
  <script type="text/javascript" src="assets/js/bootstrap.js"></script>

  <!-- Optional Vendor Scripts (Remove the plugin script here and comment initializer script out of index.js if site does not use that feature) -->

  <!-- AOS (Animate On Scroll - animates elements into view while scrolling down) -->
  <script type="text/javascript" src="assets/js/aos.js"></script>
  <!-- Clipboard (copies content from browser into OS clipboard) -->
  <script type="text/javascript" src="assets/js/clipboard.js"></script>
  <!-- Fancybox (handles image and video lightbox and galleries) -->
  <script type="text/javascript" src="assets/js/jquery.fancybox.min.js"></script>
  <!-- Flatpickr (calendar/date/time picker UI) -->
  <script type="text/javascript" src="assets/js/flatpickr.min.js"></script>
  <!-- Flickity (handles touch enabled carousels and sliders) -->
  <script type="text/javascript" src="assets/js/flickity.pkgd.min.js"></script>
  <!-- Ion rangeSlider (flexible and pretty range slider elements) -->
  <script type="text/javascript" src="assets/js/ion.rangeSlider.min.js"></script>
  <!-- Isotope (masonry layouts and filtering) -->
  <script type="text/javascript" src="assets/js/isotope.pkgd.min.js"></script>
  <!-- jarallax (parallax effect and video backgrounds) -->
  <script type="text/javascript" src="assets/js/jarallax.min.js"></script>
  <script type="text/javascript" src="assets/js/jarallax-video.min.js"></script>
  <script type="text/javascript" src="assets/js/jarallax-element.min.js"></script>
  <!-- jQuery Countdown (displays countdown text to a specified date) -->
  <script type="text/javascript" src="assets/js/jquery.countdown.min.js"></script>
  <!-- jQuery smartWizard facilitates steppable wizard content -->
  <script type="text/javascript" src="assets/js/jquery.smartWizard.min.js"></script>
  <!-- Plyr (unified player for Video, Audio, Vimeo and Youtube) -->
  <script type="text/javascript" src="assets/js/plyr.polyfilled.min.js"></script>
  <!-- Prism (displays formatted code boxes) -->
  <script type="text/javascript" src="assets/js/prism.js"></script>
  <!-- ScrollMonitor (manages events for elements scrolling in and out of view) -->
  <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
  <!-- Smooth scroll (animation to links in-page)-->
  <script type="text/javascript" src="assets/js/smooth-scroll.polyfills.min.js"></script>
  <!-- SVGInjector (replaces img tags with SVG code to allow easy inclusion of SVGs with the benefit of inheriting colors and styles)-->
  <script type="text/javascript" src="assets/js/svg-injector.umd.production.js"></script>
  <!-- TwitterFetcher (displays a feed of tweets from a specified account)-->
  <script type="text/javascript" src="assets/js/twitterFetcher_min.js"></script>
  <!-- Typed text (animated typing effect)-->
  <script type="text/javascript" src="assets/js/typed.min.js"></script>
  <!-- Required theme scripts (Do not remove) -->
  <script type="text/javascript" src="assets/js/theme.js"></script>
  <!-- Removes page load animation when window is finished loading -->
  <script type="text/javascript">
    window.addEventListener("load", function() {
      document.querySelector('body').classList.add('loaded');
    });
  </script>

</body>

</html>
