<!DOCTYPE <html>
	<head>
		<title>whowho</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container my-4 mx-auto">
			<p class="text-2xl font-bold text-center">후후</p>
			<span class="block p-4">

        <!-- 로그인페이지 연결해야 함 191026, url.py 등을 수정 -->
				<a href="login.html">
					<button class="bg-gray-700 hover:bg-gray-900 text-white font-medium py-2 px-5 w-full rounded-full">로그인하기</button>
				</a>
			</span>
		</div>
	</body>
</html>