<!DOCTYPE <html>
	<head>
		<title>login</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
	</head>
	<body>
		<div class="container my-4 mx-auto p-6">
			<p class="text-2xl font-bold text-center mb-4">로그인</p>
			<div class="flex items-center border-b border-b-2 border-gray-500 py-2 mb-4">
				<input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="아이디를 입력하세요" aria-label="Full name">
			</div>
			<div class="flex items-center border-b border-b-2 border-red-500 py-2 mb-2">
				<input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none" type="text" placeholder="패스워드를 입력하세요" aria-label="Full name">
			</div>
			<p class="text-red-500 text-xs mb-6">패스워드를 정확히 입력해주세요</p>
			<div class="block items-center justify-between">
				<button class="bg-gray-700 hover:bg-gray-900 text-white font-medium py-2 px-5 w-full rounded-full">로그인하기</button>
			</div>
		</div>
	</body>
</html>