{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}
 <body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'index' %}">Mxg</a>
                <a class="navbar-brand page-scroll" href="#page-top">페이지 맨 위로</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="{% url 'index' %}">home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myLogin" >
                            <i class="visible-sm-inline fa fa-user">
                            </i>
                            <span class="hidden-sm">로그인</span>
                        </button>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'signup' %}">회원가입</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
            
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>   
		<div class="container">
			<div class="row" style="padding-top:40px">
				
			</div>
			
			<div class="page-header">
					<h2>회원가입</h2>
			</div>

		    <form class="form-horizontal" method="POST">{% csrf_token %}
		    
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="email">이메일 </label>
					<div class="col-sm-6">
						<input type="email" class="form-control" id="email" placeholder="이메일 입력" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">휴대전화번호 :</label>
					<div class="col-sm-6"> 
						<input type="text" class="form-control" id="phone" placeholder="휴대전화번호 입력 (- 제외하고 입력해주세요)" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">패스워드</label>
					<div class="col-sm-6"> 
						<input type="password" class="form-control" id="pwd" placeholder="패스워드" required="">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="pwd"></label>
					<div class="col-sm-6"> 
						<input type="password" class="form-control" id="repwd" placeholder="패스워드 재확인" required="">
					</div>
				</div><br>
				
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">이용약관 동의</label>
					<div class="col-sm-6">
						<div class="terms terms-font">
							<h6>제 1조 (목 적)</h6>
								이 서비스 이용약관(이하 “약관”이라 합니다)은 Mxg(이하 “회사”라 합니다)가 제공하는 서비스와 관련하여 회사와 이용 고객(또는 회원) 간에 서비스의 이용 조건 및 절차, 회사와 회원 간의 권리, 의무 및 책임 사항 기타 필요한 사항을 규정함을 목적으로 합니다.
							<h6>제 2조 (목 적)</h6>
								이 서비스 이용약관(이하 “약관”이라 합니다)은 Mxg(이하 “회사”라 합니다)가 제공하는 서비스와 관련하여 회사와 이용 고객(또는 회원) 간에 서비스의 이용 조건 및 절차, 회사와 회원 간의 권리, 의무 및 책임 사항 기타 필요한 사항을 규정함을 목적으로 합니다.
							<h6>제 3조 (목 적)</h6>
								이 서비스 이용약관(이하 “약관”이라 합니다)은 Mxg(이하 “회사”라 합니다)가 제공하는 서비스와 관련하여 회사와 이용 고객(또는 회원) 간에 서비스의 이용 조건 및 절차, 회사와 회원 간의 권리, 의무 및 책임 사항 기타 필요한 사항을 규정함을 목적으로 합니다.
						</div>
						
						<div class="checks" style="padding-top:10px">
							<label for="chk1" style="cursor:pointer">동의합니다</label>
							<input type="checkbox" id="chk1" required=""> 
							<label for="chk1"></label> 
						</div>							
					</div>
				</div><br>
				
				<div class="form-group">
					<label class="control-label col-sm-offset-1 col-sm-2" for="pwd">개인정보 수집<br>및 이용동의</label>
					<div class="col-sm-6">
						<div class="terms terms-font">									
							정보통신망법 규정에 따라 Mxg에 회원가입 신청하시는 분께 수집하는 개인정보의 항목, 개인정보의 수집 및 이용목적, 개인정보의 보유 및 이용기간을 안내 드리오니 자세히 읽은 후 동의하여 주시기 바랍니다.
							<h6>1. 수집하는 개인정보</h6>
							개인화 혹은 회원제 서비스를 이용하기 위해 회원가입을 할 경우, Mxg 는 서비스 이용을 위해 필요한 최소한의 개인정보를 수집합니다.
							회원가입 시점에 Mxg 가 이용자로부터 수집하는 개인정보는 아래와 같습니다.
							- 회원 가입 시에 ‘아이디, 비밀번호,휴대폰번호’를 필수항목으로 수집합니다.
						</div>
			
		                <div class="checks" style="padding-top:10px">
							<label for="chk2" style="cursor:pointer">동의합니다</label>
							<input type="checkbox" id="chk2" required=""> 
							<label for="chk2"></label> 
						</div>
					</div>
				</div><br>
				
				<div class="form-group"> 
					<div class="col-sm-offset-1 col-sm-10">
						<button type="submit" class="btn btn-default">Submit</button>
					</div>
				</div>
			</form>
		</div>
    </header>

{% endblock content %}