{% extends 'home/base.html' %}
{% load staticfiles %}

{% block content %}

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                
                <h1> 회원가입 완료! </h1>
                <br>
                <h3> MXG 초대장에 가입하신 것을 진심으로 환영합니다.</h3>
                <br>
                <a href="{% url 'login' %}" class="btn btn-primary btn-xl page-scroll">로그인하기</a>
                
            </div>
        </div>
    </header>

{% endblock content %}