{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=10.0, minimum-scale=0, user-scalable=yes, target-densitydpi=medium-dpi" />
<title>w1</title>
<link rel="stylesheet" href="{% static 'css/wedding-style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#photo {width:100%;margin-left: -3px;}
#main-img {width:100%;}
.wrap_1{ width:100%; min-height:100%; position:relative;}

.wrap_1 .bg { height: 1100px;margin-top: 0px;
}
.wrap_1 .bg img{width:100%; height: 1100px}  
.w_1{ position:absolute;left:0; top:0;min-width:375px;  width:100%; height:1050px; z-index:10}
.top{ position:absolute;width:calc(100% - 60px); margin-left:30px; border:1px }
.day{ width:146px; height:145px; }
.day img{ width:100%;}
.time{ margin-top:37px;}
.time img {
	width:100%
}
.weather{ width:167px; height:71px; margin-top:54px; }
.btn{  height:14px; margin-top:65px; }

.middleBox {
	position:absolute;
	bottom:50px;
	width:100%;
    margin: 0 30px;

	width:calc(100% - 60px);
	z-index:10;
}
</style>
</head>
<body>


<!--  w_1 -->
<div class="wrap_1">
	<div class="top" >
        <div style="float:left; height:66px;margin-top: 500px;"><img src="{% static 'img/wedding-images/w_1/img_1.png' %}" /></div>
        <div style=" float:right; height:66px;"><img src="{% static 'img/wedding-images/w_1/img_2.png' %}" /></div>
    	<!-- <div style="float:left; height:66px;margin-top: 0px;"><img src="{% static 'img/wedding-images/w_1/img_1.png' %}" /></div>
        <div style=" float:right;margin-left:10px; height:66px;"><img src="{% static 'img/wedding-images/w_1/img_3.png' %}" /></div>
        <div style=" float:right; height:66px;"><img src="{% static 'img/wedding-images/w_1/img_2.png' %}" /></div> -->
   </div>
   <div class="middleBox">
	   <div class="day">
            <img src="{% static 'img/wedding-images/w_1/img_4.png' %}" style="position: relative;"/>
            <center><div id="dateView" style="position: relative;  top: -90px;"></div></center>
       </div> 

	   <div class="time"><img src="{% static 'img/wedding-images/w_1/img_5.png' %}" /></div>  
	   <div class="weather"></div>  
 

<!-- 	   <div class="btn">
			<a href=""><img src="{% static 'img/wedding-images/w_1/over.png' %}" /></a>
			<a href=""><img src="{% static 'img/wedding-images/w_1/out.png' %}" /></a>
			<a href=""><img src="{% static 'img/wedding-images/w_1/out.png' %}" /></a>
			<a href=""><img src="{% static 'img/wedding-images/w_1/out.png' %}" /></a>
			<a href=""><img src="{% static 'img/wedding-images/w_1/out.png' %}" /></a>
	   </div> -->

   </div>
 <!-- <div class="bg"><img src="{% static 'img/wedding-images/w_1/bg.jpg' %}"></div> -->

 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner bg" role="listbox">
        <div label=0 id="photo" class="item active">
          <img id=main-img src="{% static 'img/wedding-images/w_1/main_01.jpg' %}">
        </div>
        <div label=1 id="photo" class="item">
          <img id=main-img src="{% static 'img/wedding-images/w_1/main_02.jpg' %}">
        </div>
        <div label=2 id="photo" class="item">
          <img id=main-img src="{% static 'img/wedding-images/w_1/main_03.jpg' %}">
        </div>
        <div label=3 id="photo" class="item">
          <img id=main-img src="{% static 'img/wedding-images/w_1/main_04.jpg' %}">
        </div>
      </div>

      <!-- Controls -->
      <a class="carousel-control left" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control right" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>


 <div style="clear:both"></div>

</div>  

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
    $(document).ready( function() {
     
        setViewTime = function (){ //함수로 만들어 준다.
         
            //아래 부분 입력창에서 가져오지 않고 그냥 셋팅해도 된다.
            var getYear = 2016;
            var getMonth = 12;
            var getDay = 10;
            var dat1 = new Date(); //현재날짜
            var dat2 = new Date(getYear, getMonth-1, getDay); //월에서 1 빼줘야 함
         
            var diff = dat2 - dat1; //날짜 빼기
             
            var currSec = 1000; // 밀리세컨
            var currMin = 60 * 1000; // 초 * 밀리세컨
            var currHour = 60 * 60 * 1000; // 분 * 초 * 밀리세컨
            var currDay = 24 * 60 * 60 * 1000; // 시 * 분 * 초 * 밀리세컨
             
            var day = parseInt(diff/currDay); //d-day 일
            var hour = parseInt(diff/currHour); //d-day 시
            var min = parseInt(diff/currMin); //d-day 분
            var sec = parseInt(diff/currSec); //d-day 초
             
            var viewHour = hour-(day*24);
            var viewMin = min-(hour*60);
            var viewSec = sec-(min*60);
             
            //시분초 말고 일까지만 보여주면 day만 노출하면 된다.
            // var viewStr = day+"일 "+viewHour+"시 "+viewMin+"분 "+viewSec+"초";
            var viewStr = day+1;
             
            $("#dateView").html("<span style='font-size: 40pt; color:white;'><b>"+viewStr+"</b></span>");
        }
         
        setInterval('setViewTime()',1000);
         
    });
       
</script>   
   
   
   





</body>
</html>
