{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=10.0, minimum-scale=0, user-scalable=yes, target-densitydpi=medium-dpi" />
<title>w1</title>
<link rel="stylesheet" href="{% static 'css/wedding-style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.wrap_3{ width:100%; min-height:100%; position:relative;}
.wrap_3 .bg {
}
.wrap_3 .bg img{width:100%;} 
.photo{ width:580px; height:466px; }
.photo img{ width:100%;}
.thum{  margin-top:37px; height:130px;}
.thum img {	width:100%;}
</style>
</head>
<body>



<div style=" position:relative; z-index:200; width:580px; height:50px; margin:0 auto; top:110px; padding-top:-100px;  ">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        <li data-target="#carousel-example-generic" data-slide-to="5"></li>
        <li data-target="#carousel-example-generic" data-slide-to="6"></li>
        <li data-target="#carousel-example-generic" data-slide-to="7"></li>
        <li data-target="#carousel-example-generic" data-slide-to="8"></li>
        <li data-target="#carousel-example-generic" data-slide-to="9"></li>
        <li data-target="#carousel-example-generic" data-slide-to="10"></li>
        <li data-target="#carousel-example-generic" data-slide-to="11"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div label=0 id="photo" class="item active">
          <img src="{% static 'img/wedding-images/w_3/img_2.jpg' %}">
        </div>
        <div label=1 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/out_2.jpg' %}">
        </div>
        <div label=2 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/out_3.jpg' %}">
        </div>
        <div label=3 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/out_4.jpg' %}">
        </div>
        <div label=4 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/img_2.jpg' %}">
        </div>
        <div label=5 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/out_2.jpg' %}">
        </div>
        <div label=6 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/out_3.jpg' %}">
        </div>
        <div label=7 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/out_4.jpg' %}">
        </div>
        <div label=8 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/img_2.jpg' %}">
        </div>
        <div label=9 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/out_2.jpg' %}">
        </div>
        <div label=10 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/out_3.jpg' %}">
        </div>
        <div label=11 id="photo" class="item">
          <img src="{% static 'img/wedding-images/w_3/out_4.jpg' %}">
        </div>
      </div>

      <!-- Controls -->
      <a class="carousel-control left" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control right" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
</div>
<!--     <div style="margin-top: -20px">

        <img id="thum_img" class="center-block" style=" float:left;" src="{% static 'img/wedding-images/w_3/out_1.jpg' %}" />

        <img id="thum_img" class="img-responsive center-block" style=" float:left; margin-left: 20px;" src="{% static 'img/wedding-images/w_3/out_1.jpg' %}" />

        <img id="thum_img" class="img-responsive center-block" style=" float:left; margin-left: 20px;" src="{% static 'img/wedding-images/w_3/out_1.jpg' %}" />

        <img id="thum_img" class="img-responsive center-block" style=" float:left; margin-left: 20px;" src="{% static 'img/wedding-images/w_3/out_1.jpg' %}" />
    </div>
 -->   
    <div id="thum_div" style="margin-top:20px;">
      <center>
          <img id="thum_img" label="0" src="{% static 'img/wedding-images/w_3/out_1.jpg' %}" />&nbsp;
          <img id="thum_img" label="1" src="{% static 'img/wedding-images/w_3/out_2.jpg' %}" />&nbsp;
          <img id="thum_img" label="2" src="{% static 'img/wedding-images/w_3/out_3.jpg' %}" />&nbsp;
          <img id="thum_img" label="3" src="{% static 'img/wedding-images/w_3/out_4.jpg' %}" />
      </center>
    </div>
    <div id="thum_div" style="margin-top:20px;">
      <center>
          <img id="thum_img" label="4" src="{% static 'img/wedding-images/w_3/out_1.jpg' %}" />&nbsp;
          <img id="thum_img" label="5" src="{% static 'img/wedding-images/w_3/out_2.jpg' %}" />&nbsp;
          <img id="thum_img" label="6" src="{% static 'img/wedding-images/w_3/out_3.jpg' %}" />&nbsp;
          <img id="thum_img" label="7" src="{% static 'img/wedding-images/w_3/out_4.jpg' %}" />
      </center>
    </div>
    <div id="thum_div" style="margin-top:20px;">
      <center>
          <img id="thum_img" label="8" src="{% static 'img/wedding-images/w_3/out_1.jpg' %}" />&nbsp;
          <img id="thum_img" label="9" src="{% static 'img/wedding-images/w_3/out_2.jpg' %}" />&nbsp;
          <img id="thum_img" label="10" src="{% static 'img/wedding-images/w_3/out_3.jpg' %}" />&nbsp;
          <img id="thum_img" label="11" src="{% static 'img/wedding-images/w_3/out_4.jpg' %}" />
      </center>
    </div>
    
</div>
   


<!--  w_3 -->
<div class="wrap_3">
    <div class="bg">
      <img style="height: 1050px;" src="{% static 'img/wedding-images/w_3/bg.jpg' %}">
    </div>
    <div style="clear:both"></div>
</div>   

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function(){        
        $("#thum_div #thum_img").click(function(){    // button 요소를 누르면 다음 내용을 실행한다.
            var num = $(this).attr("label");
            $('.carousel').carousel(parseInt(num));
            // $(".carousel-indicators li[data-slide-to=1]").removeClass("active");
            // $(".carousel-indicators li[data-slide-to=3]").addClass("active");
            // alert(num);
            // $(".carousel-indicators").find("li[class=active]").removeClass("active");
            // $(".carousel-indicators").find("li[data-slide-to='" + num + "']").addClass("active");


            // $(".carousel-inner div[label=1]").removeClass("active");
            // $(".carousel-inner div[label=3]").addClass("active");

            // $(".carousel-inner").find("div[class=active]").removeClass("active");
            // $(".carousel-inner").find("#photo[label='" + num + "']").addClass("active");
            
            
            });
 });
</script>            
   
   




</body>
</html>
