{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=10.0, minimum-scale=0, user-scalable=yes, target-densitydpi=medium-dpi" />
<title>w1</title>
<link rel="stylesheet" href="{% static 'css/wedding-style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.wrap_4{ position:relative; min-height:100%; }
.w_4{   position:absolute;left:0;top:0; width:calc(100% - 60px); height:1136px; }
.top4{ margin-top:67px;}
.top4 img{ width:100%;}
.title{ margin-top:40px;}
.friend{display:inline-block; margin-top:30px;	}
.field_1{margin-top:30px; width:586px; height:50px; }
.field_2{ width:600px; margin-top:15px;  }
#video{ width:100%; height:400px; margin-left: 3%;}
.congratulation{}
.save{ float:right; margin-top:20px;}
</style>
</head>
<body>



<!--  w_4 -->
<div class="wrap_4">
<div class="w_4">
    <center><div id="pic4">
        <!-- <img src="{% static 'img/wedding-images/w_3/img_4.jpg' %}" /> -->
        <iframe id="video" width="100%" height="400" src="https://www.youtube.com/embed/bt2fIe3wLhA" frameborder="0" allowfullscreen></iframe>
    </div></center>
	<!-- <div class="top4"><img src="{% static 'img/wedding-images/w_4/img_1.jpg' %}" /></div>
    <div class="title">
    	<div style="float:left;"><img src="{% static 'img/wedding-images/w_4/img_2.jpg' %}" /></div>
        <div style="float:right; "><img src="{% static 'img/wedding-images/w_4/img_3.jpg' %}" /></div>
    </div>
    <div class="friend">
    	<div style=" margin-bottom:20px;"><img src="{% static 'img/wedding-images/w_4/img_4.jpg' %}" /></div>
    	<div style="float:left; width:76px;"><img src="{% static 'img/wedding-images/w_4/img_5.jpg' %}" /></div>
        <div style="float:left; width:390px; margin-left:23px; margin-top:7px;  height:69px;">
        	<div style="height:40px;"><img src="{% static 'img/wedding-images/w_4/img_6.jpg' %}" /></div>
            <div style="height:29px;"><img src="{% static 'img/wedding-images/w_4/img_7.jpg' %}" /></div>
        </div>
        <div style="float:left; width:36px; margin-top:12px;"><img src="{% static 'img/wedding-images/w_4/x.jpg' %}" /></div>
    </div>
    <div class="friend">
    	<div style=" margin-bottom:20px;"><img src="{% static 'img/wedding-images/w_4/img_4.jpg' %}" /></div>
    	<div style="float:left; width:76px;"><img src="{% static 'img/wedding-images/w_4/img_5.jpg' %}" /></div>
        <div style="float:left; width:390px; margin-left:23px; margin-top:7px;  height:69px;">
        	<div style="height:40px;"><img src="{% static 'img/wedding-images/w_4/img_6.jpg' %}" /></div>
            <div style="height:29px;"><img src="{% static 'img/wedding-images/w_4/img_7.jpg' %}" /></div>
        </div>
        <div style="float:left; width:36px; margin-top:12px;"><img src="{% static 'img/wedding-images/w_4/x.jpg' %}" /></div>
    </div>
    <div class="friend">
    	<div style=" margin-bottom:20px;"><img src="{% static 'img/wedding-images/w_4/img_4.jpg' %}" /></div>
    	<div style="float:left; width:76px;"><img src="{% static 'img/wedding-images/w_4/img_5.jpg' %}" /></div>
        <div style="float:left; width:390px; margin-left:23px; margin-top:7px;  height:69px;">
        	<div style="height:40px;"><img src="{% static 'img/wedding-images/w_4/img_6.jpg' %}" /></div>
            <div style="height:29px;"><img src="{% static 'img/wedding-images/w_4/img_7.jpg' %}" /></div>
        </div>
        <div style="float:left; width:36px; margin-top:12px;"><img src="{% static 'img/wedding-images/w_4/x.jpg' %}" /></div>
    </div>
    <div class="friend">
    	<div style=" margin-bottom:20px;"><img src="{% static 'img/wedding-images/w_4/img_4.jpg' %}" /></div>
    	<div style="float:left; width:76px;"><img src="{% static 'img/wedding-images/w_4/img_5.jpg' %}" /></div>
        <div style="float:left; width:390px; margin-left:23px; margin-top:7px;  height:69px;">
        	<div style="height:40px;"><img src="{% static 'img/wedding-images/w_4/img_6.jpg' %}" /></div>
            <div style="height:29px;"><img src="{% static 'img/wedding-images/w_4/img_7.jpg' %}" /></div>
        </div>
        <div style="float:left; width:36px; margin-top:12px;"><img src="{% static 'img/wedding-images/w_4/x.jpg' %}" /></div>
    </div>
   
  <div id="page_no">
    	<div style="float:left; margin-top:15px;"><img src="{% static 'img/wedding-images/w_4/left.jpg' %}" /></div>
        <div style="float:left; margin-left:12px; margin-right:13px;"><img src="{% static 'img/wedding-images/w_4/one.jpg' %}" /></div>
        <div style="float:left; margin-top:15px;"><img src="{% static 'img/wedding-images/w_4/right.jpg' %}" /></div>
    </div>
	<div class="field_1"><img src="{% static 'img/wedding-images/w_4/img_8.jpg' %}" /><img src="{% static 'img/wedding-images/w_4/img_9.jpg' %}" /></div>
    <div class="field_2"><img src="{% static 'img/wedding-images/w_4/img_10.jpg' %}" /></div>
    <div class="congratulation">
   	  <div class="save"><img src="{% static 'img/wedding-images/w_4/img_18.jpg' %}" /></div>
	</div>
 -->

</div>
</div> 


   
   
   




</body>
</html>
