{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=10.0, minimum-scale=0, user-scalable=yes, target-densitydpi=medium-dpi" />
<title>w1</title>
<link rel="stylesheet" href="{% static 'css/wedding-style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.wrap_5{ width:100%; min-height:100%; position:relative;}
.wrap_5 .bg {
}
.wrap_5 .bg img{width:100%;} 
.address{ margin-top:20px; height:100px;}
</style>
</head>
<body>

<div style=" position:relative; z-index:13; width:580px; height:52px; margin:0 auto; top:210px; margin-top:-48px;  ">
<img src="{% static 'img/wedding-images/w_5/img_1.jpg' %}" />
<div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3168.086294591617!2d126.6885325156048!3d37.435066139403425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357b798165bffb43%3A0x194fe19836e1f7ad!2z7J247LKc66y47ZWZ6rK96riw7J6l!5e0!3m2!1sko!2skr!4v1478413315695" width="580" height="430" frameborder="0" allowfullscreen></iframe></div>
</div>

<div style=" position:relative; z-index:15; width:580px; height:200px; margin:0 auto; top:810px; margin-top:-118px;  ">
	<center>
        <div style="width:423px; padding-top:70px; height:78px;"><img src="{% static 'img/wedding-images/w_5/img_3.jpg' %}" /></div>   
    </center>
    <center>
        <div style="height:500px; padding-top:110px;"><img src="{% static 'img/wedding-images/w_5/img_4.jpg' %}" /></div>
    </center>
</div>
<!--  w_5 -->
<div class="wrap_5">
<div class="w_5">
	<div class="bg" style="height: 1250px;">
		<img style="height: 1150px;" src="{% static 'img/wedding-images/w_5/bg.jpg' %}">
	</div>
    <div style="clear:both"></div>
</div>
</div> 


   
   
   




</body>
</html>

