{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=10.0, minimum-scale=0, user-scalable=yes, target-densitydpi=medium-dpi" />
<meta property="og:url" content="http://52.78.189.154/psjwedding/" />
<title>w1</title>
<link rel="stylesheet" href="{% static 'css/wedding-style.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.wrap_6{ position:relative; min-height:100%; }
.w_6{   position:absolute;left:0;top:0; margin:0 30px; width:calc(100% - 60px); height:1200px; }
.top6{}
.top6 img{ width:100%;}
.sns{  margin-top:40px; margin-left: 80px;} 
.footer{ margin-top:1075px;  }
.footer img{ width:100%;}
</style>
</head>
<body>


<!--  w_6 -->
<div class="wrap_6">
<div class="w_6">
	<div class="top6"><img src="{% static 'img/wedding-images/w_6/img_thankyou.jpg' %}" /></div>
	<div class="sns">
    	<div style="float:left; "><img onclick="facebook_share()" style="cursor: pointer;" src="{% static 'img/wedding-images/w_6/sns_1.jpg' %}" /></div>
        <div style="float:left; margin-left:10px"><img onclick="twitter_share()" style="cursor: pointer;" src="{% static 'img/wedding-images/w_6/sns_2.jpg' %}" /></div>
        
        
        <div style="float:left; margin-left:10px">
            <a id="kakao-link-btn" href="javascript:;">
                <!-- <img onclick="kakao_share()" style="cursor: pointer;" src="{% static 'img/wedding-images/w_6/sns_3.jpg' %}" /> -->
                <img style="cursor: pointer;" src="{% static 'img/wedding-images/w_6/sns_3.jpg' %}" />
            </a>
        </div>
        <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
        <!-- <div style="float:left;"><img src="{% static 'img/wedding-images/w_6/sns_4.jpg' %}" /></div> -->
        <div style="float:left; margin-left:10px"">
            <img onclick="band_share()" src="{% static 'img/wedding-images/w_6/sns_5.jpg' %}" />





        </div>
<!--         <a id="kakao-login-btn">login?</a>
        <a href="http://alpha-developers.kakao.com/logout">logout?</a> -->
        
    </div>
    <div class="footer" style="margin-top:200px; position:relative;"><img src="{% static 'img/wedding-images/w_6/footer.jpg' %}" /></div>
	
</div>
</div> 


   
<script>
//<![CDATA[
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('ee75000c3a04b9eb793852a2b9012b84');
    // // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createTalkLinkButton({
      container: '#kakao-link-btn',
      label: '김주원♥박서진 결혼합니다',
      image: {
        src: 'http://52.78.189.154/static/img/wedding-images/w_3/img_01.jpg',
        width: '300',
        height: '200'
      },
      webButton: {
        text: '김주원♥박서진 결혼합니다',
        url: 'http://52.78.189.154/psjwedding/' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
      }
    });
  //]]>


function band_share(){
    var shareUrl = "http://www.band.us/plugin/share?body="+encodeURIComponent('김주원♥박서진 결혼합니다')+"&route="+encodeURIComponent('http://52.78.189.154/psjwedding/');
    window.open(shareUrl, "share_band", "width=410, height=540, resizable=no"); 
}

function facebook_share(){
    window.open('http://www.facebook.com/sharer/sharer.php?u=http://52.78.189.154/psjwedding/');
}

var twitter_text = '김주원♥박서진 결혼합니다'
var twitter_url = 'http://52.78.189.154/psjwedding/'

function twitter_share(){
    window.open('https://twitter.com/intent/tweet?url=http://52.78.189.154/psjwedding/');
}

function kakao_share(){
  //<![CDATA[
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('ee75000c3a04b9eb793852a2b9012b84');
    // // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createTalkLinkButton({
      container: '#kakao-link-btn',
      label: '카카오링크 샘플에 오신 것을 환영합니다.',
      image: {
        src: 'http://dn.api1.kage.kakao.co.kr/14/dn/btqaWmFftyx/tBbQPH764Maw2R6IBhXd6K/o.jpg',
        width: '300',
        height: '200'
      },
      webButton: {
        text: '김주원♥박서진 결혼합니다',
        url: 'http://localhost:8000/psjwedding' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
      }
    });
  //]]>
}

</script>   
   




</body>
</html>
