{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=0.65, maximum-scale=10.0, minimum-scale=0, user-scalable=yes, target-densitydpi=medium-dpi" />
<title>w1</title>
<link rel="stylesheet" href="{% static 'css/wedding-style.css' %}">
<style type="text/css">
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
</style>
</head>
<body>


<!--  w_2 -->
<div id="wrap_2">
<div id="w_2">
	<div id="top2"><img src="{% static 'img/wedding-images/w_2/img_1.jpg' %}" /></div>
    <div id="pic"><img src="{% static 'img/wedding-images/w_2/img_2.jpg' %}" /></div>
	<div id="title2">
    	<div style="float:left;"><img src="{% static 'img/wedding-images/w_2/img_3.jpg' %}" /></div>
        <div style="float:left; margin-left:99px;"><img src="{% static 'img/wedding-images/w_2/img_4.jpg' %}" /></div>
    </div>
    <div id="call2">
    	<div style="float:left; width:78px;"><img src="{% static 'img/wedding-images/w_2/call_over_2.jpg' %}" /></div>
        <div style="float:left; width:78px; margin-left:43px;"><img src="{% static 'img/wedding-images/w_2/call_out_1.jpg' %}" /></div>
        <div style="float:left; width:78px; margin-left:99px;"><img src="{% static 'img/wedding-images/w_2/call_out_2.jpg' %}" /></div>
        <div style="float:left; width:78px; margin-left:43px;"><img src="{% static 'img/wedding-images/w_2/call_out_1.jpg' %}" /></div>
    </div>
    <div id="name2">
    	<div style="float:left; width:63px; height:18px;"><img src="{% static 'img/wedding-images/w_2/name.jpg' %}" /></div>
        <div style="float:left; width:63px; height:18px; margin-left:58px;"><img src="{% static 'img/wedding-images/w_2/name.jpg' %}" /></div>
        <div style="float:left; width:63px; height:18px; margin-left:114px;"><img src="{% static 'img/wedding-images/w_2/name.jpg' %}" /></div>
        <div style="float:left; width:63px; height:18px; margin-left:58px;"><img src="{% static 'img/wedding-images/w_2/name.jpg' %}" /></div>
    </div>
    <div id="con2">
    	<div id="icon">
    		<div style="margin-left:18px;"><img src="{% static 'img/wedding-images/w_2/icon_mail.jpg' %}" /></div>
        	<div style=" margin-top:30px;"><img src="{% static 'img/wedding-images/w_2/icon_call.jpg' %}" /></div>
        	<div style="margin-left:7px; margin-top:29px;"><img src="{% static 'img/wedding-images/w_2/icon_talk.jpg' %}" /></div>
    	</div>
        <div id="hi2"><img src="{% static 'img/wedding-images/w_2/img_5.jpg' %}" /></div>
        <div id="icon2">
    		<div><img src="{% static 'img/wedding-images/w_2/icon_mail.jpg' %}" /></div>
        	<div style=" margin-left:16px; margin-top:30px;"><img src="{% static 'img/wedding-images/w_2/icon_call2.jpg' %}" /></div>
        	<div style="margin-left:8px; margin-top:32px;"><img src="{% static 'img/wedding-images/w_2/icon_talk2.jpg' %}" /></div>
    	</div>
    </div>
</div>
</div> 


   
   
   




</body>
</html>
