body, td, p, input, button, textarea, select, .c1 { font-family:Tahoma,굴림; font-size:9pt; color:#222222; }
body {
	overflow-y:scroll;
}
form { margin:0px; }

/* img {border:0px;} */

a:link, a:visited, a:active { text-decoration:none; color:#466C8A; }
a:hover { text-decoration:underline; }

a.menu:link, a.menu:visited, a.menu:active { text-decoration:none; color:#454545; }
a.menu:hover { text-decoration:none; }

.member {font-weight:bold;color:#888888;}
.guest  {font-weight:normal;color:#888888;}

.lh { line-height: 150%; }
.jt { text-align:justify; }

.li { font-weight:bold; font-size:18px; vertical-align:-4px; color:#66AEAD; }

.ul { list-style-type:square; color:#66AEAD; }

.ct { font-family: Verdana, 굴림; color:#222222; } 

.ed { border:1px solid #CCCCCC; } 
.tx { border:1px solid #CCCCCC; } 

.small { font-size:8pt; font-family:돋움; }
.cloudy, a.cloudy {color:#888888;} /* 흐림 */

input.ed { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; }
input.ed_password { height:20px; border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:3px 2px 0 2px; font:10px Tahoma; }
textarea.tx { border:1px solid #9A9A9A; border-right:1px solid #D8D8D8; border-bottom:1px solid #D8D8D8; padding:2px; }




/* w_1 */
#wrap_1{ width:100%; min-width:640px; height:1136px; position:absolute; background-image:url(../img/wedding-images/w_1/bg.jpg); background-position:top center; background-repeat:no-repeat;}
#w_1{ width:640px; height:1136px; margin:0 auto;}
#top{ width:580px; height:66px; margin-top:32px; margin-left:30px;}
#day{ width:146px; height:145px; margin-top:457px; margin-left:30px;}
#time{ width:498px; height:146px; margin-top:37px; margin-left:30px;}
#weather{ width:167px; height:71px; margin-top:54px; margin-left:30px;}
#btn{ width:116px; height:14px; margin-top:65px; margin-left:30px;}

/* w_2 */
#wrap_2{ width:100%; min-width:640px; height:1136px; position:absolute; background-image:url(../img/wedding-images/w_2/bg.jpg); background-position:top center; background-repeat:no-repeat;}
#w_2{ width:640px; height:1136px; margin:0 auto;}
#top2{ width:580px; height:73px; margin-top:67px; margin-left:30px;}
#pic{ width:580px; height:174px; margin-left:30px; margin-top:41px;}
#title2{ width:551px; height:15px; margin-top:48px; margin-left:63px;}
#call2{ width:497px; height:78px; margin-left:63px; margin-top:29px;}
#name2{ margin-left:78px; height:18px; margin-top:9px;}
#con2{ width:548px; height:583px; margin-left:47px; }
#icon{ width:42px; height:126px; float:left; margin-top:65px;}
#hi2{ width:465px; float:left;}
#icon2{ width:41px; height:129px; float:left;  margin-top:65px;}

/* w_3 */
#wrap_3{ width:100%; min-width:640px; height:1136px; position:absolute; background-image:url(../img/wedding-images/w_3/bg.jpg); background-position:top center; background-repeat:no-repeat; }
#w_3{ width:640px; height:1136px; margin:0 auto;}
#top3{ width:580px; height:122px; margin-top:57px; margin-left:30px;}
#photo{ width:580px; height:466px; margin-left:30px;}
#thum{ width:580px; height:130px; margin-top:20px; margin-left:30px;}
#pic32{ width:600px; height:252px; margin-left:20px; margin-top:38px;}
/*#thum_img{cursor:pointer; float:left;}*/


/* w_4 */
#wrap_4{ width:100%; min-width:640px; height:500px; position:absolute;}
#w_4{ width:640px; height:1363x; margin:0 auto;}
#pic4{ width:600px; height:400px; margin-left:20px; margin-top:40px;}
#top4{ width:580px; height:71px; margin-left:20px; margin-top:40px;}
#title{ width:600px; height:26px; margin-left:20px; margin-top:58px; }
#line{ width:600px; height:1px; margin-top:32px; margin-left:20px;}
#friend{ width:600px; height:99px; margin-left:20px; margin-top:22px; }
#line2{ width:600px; height:1px; margin-top:22px;}
#page_no{ width:83px; height:40px; margin:0 auto; margin-top:29px;}
#field_1{ width:600px; margin-top:29px; height:50px; margin-left:20px;}
#field_2{ width:600px; margin-top:10px; height:95px; margin-left:20px;}
#congratulation{ width:600px; height:57px; margin-left:20px;}
#man{ width:250px; height:57px; margin-top:30px; float:left;}
#woman{ width:250px; height:57px; margin-top:30px; float:left;}
#save{ width:100px; height:57px; float:left; margin-top:20px; margin-left:520px;}

/* w_5 */
#wrap_5{ width:100%; min-width:640px; height:1136px; position:absolute; position:absolute; background-image:url(../img/wedding-images/w_5/bg.jpg); background-position:top center; background-repeat:no-repeat; }
#w_5{ width:640px; height:1136px; margin:0 auto;}
#top5{ width:580px; height:121px; margin-left:30px; margin-top:60px;}
#map{ width:580px; height:430px; margin-left:30px;}
#address{ width:600px; height:76px; margin-left:30px; margin-top:31px;}
#bus{ width:600px; height:257px; margin-top:40px; margin-left:30px;}

/* w_6 */
#wrap_6{ width:100%; min-width:640px; height:1137px; position:absolute; }
#w_6{ width:640px; height:1137px; margin:0 auto;}
#top6{ width:580px; height:917px; margin-left:30px;}
#sns{ width:600px; height:84px; margin-left:0px; margin-top:47px; }
#footer{ width:640px; height:61px; margin-top:28px;}
